.background_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  justify-content: space-around;
  position: absolute;
  top: 20px;
  right: 60px;
  height: 40px;
  border-radius: 10px;
  background-color: #650777db;
  color: white;
  font-size: 20px;
  font-family: "IBM Plex Mono", serif;
  cursor: pointer;
  > mat-icon {
    margin-right: 8px;
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
}
