<h2 mat-dialog-title>Hi {{ data.name }}</h2>
<mat-dialog-content>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="players">
    <mat-radio-button class="example-radio-button" value="2"
      >2 Joueurs</mat-radio-button
    >
  </mat-radio-group>
  <p>What's your favorite animal?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="players()" cdkFocusInitial>
    Valider
  </button>
</mat-dialog-actions>

<!-- <div class="modal_container">
  <div class="modal">
    <div class="modal_header">
      <div class="sub_title">Nombre de joueurs</div>
      <button class="close_btn btn_icon">
        <span class="material-icons material-symbols"> close </span>
      </button>
    </div>
    <hr class="separator" />
    <div class="modal_body">
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="choosenPlayers"
      >
        @for (nbPlayers of players; track players) {
        <mat-radio-button class="example-radio-button" [value]="nbPlayers"
          >{{ nbPlayers }} Joueurs</mat-radio-button
        >
        }
      </mat-radio-group>
    </div>
    <div class="modal_footer">
      <button class="btn_primary">Confirmer</button>
      <button class="btn_danger">Annuler</button>
    </div>
  </div>
</div> -->
