<mat-dialog-content>
  <h2 mat-dialog-title>Selectionner le nombre de joueurs</h2>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="players">
    <mat-radio-button class="example-radio-button" value="2"
      >2 Joueurs</mat-radio-button
    >
    <mat-radio-button class="example-radio-button" value="3"
      >3 Joueurs</mat-radio-button
    >
    <mat-radio-button class="example-radio-button" value="4"
      >4 Joueurs</mat-radio-button
    >
  </mat-radio-group>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [mat-dialog-close]="players()" cdkFocusInitial>
      Valider
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
