<div class="game_container">
  <div class="button_container">
    <p>Gameboard</p>
    <!-- <button (click)="nextPlayer()">next player</button>
    <button (click)="testTurnToMoveable()">moveable</button>
    <button (click)="move()">is moving</button>
    <button (click)="setStartCase(pawn)">piece out</button>
    <button (click)="onGoBackHome(pawn)">go back home</button> -->
    <button *ngIf="!pawnsPlaced" (click)="placeAllPawns(pawns)">
      {{ isResumable ? "Reprendre la partie" : "Commencer" }}
    </button>
  </div>

  <!-- <div style="height: 200px">
      <p>
        id: {{ userStore.user.id }} <br />
        pseudo: {{ userStore.user.username }} <br />
        numero: {{ userStore.user.phoneNumber }}
      </p>

      <v-btn @click="setPawnMoveable()">
        <span v-if="!pawnMoveable"> start moveable </span>
        <span v-if="pawnMoveable"> stop moveable </span>
      </v-btn>

      
      <v-btn @click="moveOneCase()">move one case</v-btn>
      <v-btn @click="onGoBackHome()">Go back home</v-btn>
      <v-btn @click="onMovePawn()">Move from 20 to PERSONAL 5 </v-btn>
      <v-btn @click="onCelebrate()">Celebrate</v-btn>
    </div> -->
  <div class="board_section">
    <div class="dice_section">
      <app-dice
        [leftSide]="true"
        [diceValue]="isTurn(0) ? diceValue : 0"
        (diceClicked)="onDiceClicked($event)"
      ></app-dice>
      <app-dice
        [diceValue]="isTurn(1) ? diceValue : 0"
        (diceClicked)="onDiceClicked($event)"
      ></app-dice>
    </div>
    <div class="backdrop">
      <app-pawn
        *ngFor="let pawn of pawns"
        [pawn]="pawn"
        (pawnClicked)="onPawnClick($event)"
      />

      <img
        src="images/celebrate.gif"
        alt="pinguin in a firework"
        *ngIf="celebrate"
        key="gifKey"
        class="celebrate"
      />
      <div class="game_board_container">
        <div class="green_zone">
          <app-player-zone
            [position]="0"
            [color]="PLAYER_COLOR.GREEN"
          ></app-player-zone>
        </div>
        <div class="yellow_zone">
          <app-player-zone
            [position]="1"
            [color]="PLAYER_COLOR.YELLOW"
          ></app-player-zone>
        </div>
        <div class="arrival_zone">
          <div class="triangle green">
            <div id="GREEN6"></div>
          </div>
          <div class="triangle yellow">
            <div id="YELLOW6"></div>
          </div>
          <div class="triangle blue">
            <div id="BLUE6"></div>
          </div>
          <div class="triangle red">
            <div id="RED6"></div>
          </div>
        </div>
        <div class="blue_zone">
          <app-player-zone
            [position]="2"
            [color]="PLAYER_COLOR.BLUE"
          ></app-player-zone>
        </div>
        <div class="red_zone">
          <app-player-zone
            [position]="3"
            [color]="PLAYER_COLOR.RED"
          ></app-player-zone>
        </div>
      </div>
    </div>
    <div class="dice_section">
      <app-dice
        [leftSide]="true"
        [diceValue]="isTurn(3) ? diceValue : 0"
        (diceClicked)="onDiceClicked($event)"
      ></app-dice>
      <app-dice
        [diceValue]="isTurn(2) ? diceValue : 0"
        (diceClicked)="onDiceClicked($event)"
      ></app-dice>
    </div>
  </div>
</div>
