.game_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .button_container {
    height: 100px;
  }
  .board_section {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219, 49, 219);
    padding: 2px;
    border-radius: 5px;
    .dice_section {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: space-between;
      background-color: #d5e7e7;
      .arrow {
        font-size: 60px;
        color: rgb(163 131 6);
        animation: moveArrow-576b910f 1s infinite ease-in-out;
        position: relative;
        right: 35px;
      }
    }
    .backdrop {
      width: 300px;
      height: 300px;
      .celebrate {
        position: absolute;
        width: 300px;
        z-index: 2;
      }
      .game_board_container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 120px 60px 120px;
        grid-template-rows: 120px 60px 120px;
        &.green_player {
          transform: rotate(-90deg);
        }
        &.yellow_player {
          transform: rotate(180deg);
        }
        &.blue_player {
          transform: rotate(90deg);
        }

        .green_zone {
          grid-row: 1 / span 2;
        }
        .yellow_zone {
          grid-column: 2 / span 2;
        }
        .blue_zone {
          grid-row: span 2;
        }
        .red_zone {
          grid-column: span 2;
        }
        .arrival_zone {
          width: 60px;
          height: 60px;
          position: relative;
          .triangle {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            > div {
              width: 20px;
              height: 20px;
            }
            &.green {
              background-color: green;
              clip-path: polygon(0% 0%, 0% 100%, 50% 50%);
              align-items: center;
              justify-content: start;
            }
            &.yellow {
              background-color: yellow;
              clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
              justify-content: center;
            }
            &.red {
              background-color: red;
              clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
              justify-content: center;
              align-items: end;
            }
            &.blue {
              background-color: blue;
              clip-path: polygon(50% 50%, 100% 100%, 100% 0%);
              align-items: center;
              justify-content: end;
            }
          }
        }
      }
    }
  }
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
