.dice_section {
  display: flex;
  &.left {
    flex-direction: row-reverse;
  }
  .animation_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .reaction_container {
      > img {
        width: 25px;
        height: 25px;
      }
    }
    .arrow {
      font-size: 30px;
      animation: moveArrow 1s infinite ease-in-out;
    }
  }
  .image_container {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    background: #efb4bf;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    > img {
      height: 100%;
      &.animate {
        animation-duration: 0.5s;
        animation-name: scaleDice;
      }
    }
  }
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-3px);
  }
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scaleDice {
  from {
    transform: scale(1.6);
  }
  to {
    transform: scale(1.3);
  }
}

/* dice
*/

$dot-size: 8px;
$dot-color: #000;
$face-size: 40px;
$border-color: #000;

.face {
  position: relative;
  width: $face-size;
  height: $face-size;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #a5a2a2;
  box-shadow: inset 0 0 9px 2px rgba(0, 0, 0, 0.3);
  .dot {
    width: $dot-size;
    height: $dot-size;
    background-color: $dot-color;
    border-radius: 50%;
    position: absolute;

    &.center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.top-left {
      top: 10%;
      left: 10%;
    }

    &.top-right {
      top: 10%;
      right: 10%;
    }

    &.bottom-left {
      bottom: 10%;
      left: 10%;
    }

    &.bottom-right {
      bottom: 10%;
      right: 10%;
    }

    &.middle-left {
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }

    &.middle-right {
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
    }
  }
}
